@import "../custom.less";

// 分块
.block {
    margin: @base-margin-vertical @base-margin-horizontal;
    font-size: @base-font-size;
    color: @text-color;
}
.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .col-12 {
        width: 50%;
    }
}