@import "../custom.less";

// 分块
.block {
    margin: @base-margin-vertical @base-margin-horizontal;
    font-size: @base-font-size;
    color: @text-color;
}
.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .col-12 {
        width: 50%;
    }
}
.mh-16 {
    margin-left: 16rpx;
    margin-right: 16rpx;
}
.mv-24 {
    margin-top: 24rpx;
    margin-bottom: 24rpx;
}