@import "../custom.less";

// 通用按钮
button,
.btn-primary {
    padding: @btn-padding;
    color: @btn-default-color;
    background: @btn-default-bg-color;
    font-size: @btn-font-size;
    border-radius: @btn-border-radius;
    &::after {
        border-radius: @btn-border-radius;
        border: 1px solid @btn-default-color;
    }
    &.button-hover { // 默认悬浮色
        color: @btn-default-color-hover;
        background-color: @btn-default-bg-color-hover;
    }
}

.btn-add {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    vertical-align: middle;
    line-height: 2.5em;
    position: fixed;
    right: 32rpx;
    bottom: 32rpx;
    box-shadow: 2rpx 4rpx 16rpx #000;
    &::after {
        border: 0;
    }
}