input,
.input {
    padding: 0 12px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 14px;
    color: #000000;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
}
