@import "../custom.less";

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @list-padding;
    font-size: @list-font-size;
    color: @list-text-color;
    background: @list-bg-color;
    border-bottom: 1px solid #eee;
}