@import "../custom.less";

// 链接地址
navigator {
    text-align: center;
    padding: @navigator-padding;
    color: @navigator-default-color;
    background: @navigator-default-bg-color;
    font-size: @navigator-font-size;
    border-radius: @navigator-border-radius;
    // &::after {
    //     border-radius: @btn-border-radius;
    //     border: 1px solid @btn-default-color;
    // }
    &.navigator-hover { // 默认悬浮色
        color: @navigator-default-color-hover;
        background-color: @navigator-default-bg-color-hover;
    }
}