@import "../custom.less";
@import "./iconfont/iconfont.less";

// 可点击行
.tapline {
    position: relative;
    font-size: @tapline-font-size;
    padding: @tapline-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @tapline-default-color;
    background: @tapline-default-bg-color;
    border-bottom: 1px solid @btn-default-boder-color-hover;
    &::after {
        .iconfont();
        content: "\e6c1";
        position: absolute;
        right: extract(@tapline-padding, 4);
        top: nth(@tapline-padding, 1);
        color: #999999;
    }
    &-hover {
        box-shadow: inset 0 0 4px #999999;
        background-color: @tapline-default-bg-color-hover;
    }
}
