.inline-block {
    display: inline-block;
}

.mv-24 {
    margin-top: 24rpx;
    margin-bottom: 24rpx;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}