@font-face {
    font-family: "iconfont"; /* Project id 1977199 */
    src: url("/styles/components/iconfont/iconfont.woff2?t=1687334735846") format("woff2"),
         url("/styles/components/iconfont/iconfont.woff?t=1687334735846") format("woff"),
         url("/styles/components/iconfont/iconfont.ttf?t=1687334735846") format("truetype");
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}