@import "./iconfont.less";

.iconyiwen:before {
    content: "\e693";
}

.iconshibai-copy:before {
    content: "\e915";
}

.icona-electricity-40:before {
    content: "\e733";
}

.icongoumai-xuanzhong:before {
    content: "\e682";
}

.iconelectricity-100:before {
    content: "\e70e";
}

.iconelectricity-60:before {
    content: "\e70f";
}

.iconelectricity-80:before {
    content: "\e710";
}

.iconelectricity-40:before {
    content: "\e711";
}

.iconelectricity-0:before {
    content: "\e712";
}

.iconziyuanldpi:before {
    content: "\e630";
}

.icondown:before {
    content: "\e6c0";
}

.icondown-copy:before {
    content: "\e6c1";
}

.icondown-copy-copy:before {
    content: "\e6c2";
}

.icongengduo1:before {
    content: "\e60d";
}

.iconbianzu2:before {
    content: "\e627";
}

.iconchaobiao:before {
    content: "\e626";
}

.iconfeiyongzhangdan:before {
    content: "\e625";
}